body {
    
}

 {
    0% { text-shadow: 0 0 10px blue; }
    50% { text-shadow: 0 0 100px white; }
    100% { text-shadow: 0 0 100px lbody {
    background-image:https://bizlaw.md/uploads/article/16314/6019b075d308c.jpg ;
    background-size: cover;       /* acoperă tot ecranul */
    background-repeat: no-repeat; /* nu se repetă */
    background-position: center;  /* centrat */
    background-attachment: fixed; /* rămâne fix când dai scroll */
}ightblue; }
}
    
}

header {
    background: rgba(0,0,0,0.7);
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style: arial;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    color: black;
    text-decoration: arial;
}

section {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

img {
    width: 200px;
    margin: 10px;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 5px;
}
